.leaderboard-page h1 {
  color: #182C62;
  font-size: 24px;
  margin-bottom: 2rem;
  text-align: center;
}

.table-container {
  overflow-x: auto;
  border: 1px solid #E4EDF2;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #E4EDF2;
  color: #4B5C68;
  font-size: 12px;
  text-align: left;
  padding: 1rem;
  font-weight: normal;
}

td {
  padding: 1rem;
  color: #4B5C68;
  font-size: 14px;
}

.team-cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.team-name {
  font-weight: bold;
  font-size: 16px;
}

.flag {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.loading {
  text-align: center;
  color: #4B5C68;
  padding: 2rem;
}

.numeric {
  text-align: center;
}

.points {
  font-weight: bold;
  font-size: 16px;
  color: #2A58E7;
}

th:not(:first-child) {
  text-align: center; /* Center align header cells except team name */
}